# CircleCI configuration file
version: 2.1

jobs:
  say_branch:
    docker:
     - image: cimg/base:2022.05
    steps:
      - run: echo << pipeline.git.branch >>

workflows:
  only_equal_main:
    when: 
        and:
          - equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - say_branch
  only_not_equal_main:
    when: 
        and:
          # This condition does not work
          - not:
              equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - say_branch
  only_not_match_main:
    when: 
        and:
          # This condition works
          - not:
              matches:
                pattern: "^main$"
                value: << pipeline.git.branch >>
    jobs:
      - say_branch